*.aux
*.toc
*.out
*.log
_minted*
*.swp
*.jou
*.log
hardware/z1top_proj/
./hardware/src/*proj
./hardware/src/bitstream_files
.vscode/*


*.o
*.bin
*.coe
*.elf
*.mif
*.dump
*.hex

*.vcd
*.bit

vivado.jou
vivado.log

./hardware/vcd_files/*